APP_NAME = 'Anonyms'
APP_DESC = 'Kirim dan terima pesan rahasia anonim dengan Anonyms. Buat tautan pribadi, bagikan ke teman, lalu dapatkan pesan anonim secara mudah, aman, dan rahasia.'
APP_MAINTENANCE = false
CI_ENVIRONMENT = development

app.baseURL = 'http://localhost:8080/'
app.indexPage = 
app.defaultLocale = 'id'
app.appTimezone = 'Asia/Jakarta'
app.forceGlobalSecureRequests = false
app.CSPEnabled = true
auth.allowMagicLinkLogins = false
auth.views.login = 'App\Views\Auth\login'
auth.views.register = 'App\Views\Auth\register'
auth.views.layout = 'App\Views\layouts\auth'
cache.prefix = 'anonyms_'
cache.cacheQueryString = true
contentSecurityPolicy.reportOnly = false
contentSecurityPolicy.upgradeInsecureRequests = false
cookie.prefix = 'anonyms_'
cookie.secure = false
database.default.hostname = 'localhost'
database.default.database = 'anonyms'
database.default.username = 'root'
database.default.password = 
database.default.compress = true
database.default.strictOn = true
database.default.port = 3306
database.default.numberNative = true
database.default.foundRows = true
encryption.key = 
feature.autoRoutesImproved = false
honeypot.label = 'Isi Kolom Ini'
honeypot.container = '<div>{template}</div>'
kint.richFolder = true
pager.perPage = 15
routing.prioritize = true
security.csrfProtection = 'session'
security.tokenRandomize = true
security.tokenName = 'X-CSRF-TOKEN'
security.cookieName = 'X-CSRF-COOKIE'
session.expiration = 0
session.matchIP = true
session.regenerateDestroy = true
