.form-auth {
	width: min(100%, 20rem);
}

.min-dvh-100 {
	min-height: 100dvh !important;
}

.p-fab {
	padding: 0.75rem;
}

.resize-none {
	resize: none;
}

.screenshot-area {
	left: -9999px;
	top: 0;
	min-width: 540px;
}

#hpc {
	display: none !important;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}
